<ion-header>
  <ion-toolbar color="dark">
    <ion-title><ion-icon (click)="navigateBack()" class="larger" name="md-arrow-back"></ion-icon> &nbsp;&nbsp;LegsWorkout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <img src="../../assets/bodyweightsquats.PNG"/>
    <ion-card-content>
      <ion-card-title>
        Bodyweight Squats
      </ion-card-title>
      <p>
        Stand with your feet about shoulder-width apart and slightly turned out with your weight in your heels.
        Hinge forward at your hips and sit your butt back into a squat. Bend your knees until your thighs are parallel to the ground.
        Drive through your heels to stand back up straight. Squeeze your butt and keep your core tight as you stand.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="../../assets/reverselungeswithkneelifts.PNG"/>
    <ion-card-content>
      <ion-card-title>
        Reverse Lunges With Knee Lifts
      </ion-card-title>
      <p>
        Start standing with your feet about shoulder-width apart.
        Step backwards with your left foot, landing on the ball of your foot and bending both knees to create two 90-degree angles.
        Push through your right heel to return to standing. As you stand up, thrust your left knee toward your chest.
        Repeat on the other side.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="../../assets/sidelunges.PNG"/>
    <ion-card-content>
      <ion-card-title>
        Side Lunges
      </ion-card-title>
      <p>
        Stand with your feet hip-width apart.
        Take a big step out to your right. Bend your right knee and push your butt back, keeping your left leg straight. Keep your chest lifted and core tight.
        Repeat on the other side.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="../../assets/curtsylunges.PNG"/>
    <ion-card-content>
      <ion-card-title>
        Curtsy Lunges
      </ion-card-title>
      <p>
        Stand tall with your feet hip-width apart.
        Step your right leg diagonally behind your left leg and bend your knees to lower into a lunge.
        Push through your right heel to stand, and bring your right leg back to start.
        Repeat on the other side.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="../../assets/sidelegraises.PNG"/>
    <ion-card-content>
      <ion-card-title>
        Side Leg Raises
      </ion-card-title>
      <p>
        Lie on one side with legs out straight and stacked on top of each other. Prop your torso up with your forearm (as shown) or rest your torso flat on the mat.
        Lift your top leg toward the ceiling in a slow and controlled movement. Make sure to lift from the hip and butt, not your lower back.
        Return to start.
        Repeat on the other side.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
