<ion-header>
  <ion-toolbar color="dark">
    <ion-title><ion-icon (click)="navigateBack()" class="larger" name="md-arrow-back"></ion-icon> &nbsp;&nbsp;ChestWorkout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <img src="../../assets/pushup.PNG"/>
    <ion-card-content>
      <ion-card-title>
        PUSH-UPS
      </ion-card-title>
      <p>
        The push-up requires several muscle groups to work, unlike other exercises that require weights,
        it works the smaller muscle groups and uses them as stabilizers.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="../../assets/declinepushup.PNG"/>
    <ion-card-content>
      <ion-card-title>
        DECLINE PUSH-UPS
      </ion-card-title>
      <p>
        The decline push-up is a more difficult version of the basic push-up.
        The difficulty is increased by placing your feet on a higher level than your hands.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="../../assets/diamondpushup.PNG"/>
    <ion-card-content>
      <ion-card-title>
        DIAMOND PUSH-UPS
      </ion-card-title>
      <p>
        Diamond push-ups are another challenging variation of push-ups performed by placing your hands close together until your thumbs and index fingers touch forming a “diamond” shape.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="../../assets/pushuphold.PNG"/>
    <ion-card-content>
      <ion-card-title>
        PUSH-UP HOLD
      </ion-card-title>
      <p>
        The push-up hold is an isometric (held) type of exercise that will
        improve your chest strength and definition and will also work your core, shoulders and arms.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="../../assets/widepushup.PNG"/>
    <ion-card-content>
      <ion-card-title>
        WIDE PUSH-UPS
      </ion-card-title>
      <p>
        Wide push-ups make you use your pectoral muscles
        more to help you lift your body and this will improve the strength in you upper body.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
