<ion-header >
  <ion-toolbar color="dark">

    <ion-title><ion-icon (click)="navigateBack()" class="larger" name="md-arrow-back"></ion-icon> &nbsp;&nbsp;  AbsWorkout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <img src="../../assets/planktap.PNG"/>
    <ion-card-content>
      <ion-card-title>
        Plank Tap
      </ion-card-title>
      <p>
        Start in a high plank with your feet hip-distance apart.
        Then tap each hand to the opposite shoulder while engaging your core and glutes to keep the hips as still as possible.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="../../assets/donwdogtap.PNG"/>
    <ion-card-content>
      <ion-card-title>
        Down Dog Tap
      </ion-card-title>
      <p>
        Start in Downward Dog.
        Lift your right hand off the floor and reach toward your left ankle, gently tapping the front of your foot or ankle if possible.
        Return right hand to the floor and repeat with the opposite arm. Stay in Downward Dog throughout the exercise.
      </p>
    </ion-card-content>
  </ion-card>  <ion-card>
  <img src="../../assets/plankup.PNG"/>
  <ion-card-content>
    <ion-card-title>
      Plank Up
    </ion-card-title>
    <p>
      Start in a high plank. Bend one arm to bring the elbow and forearm to the floor.
      Bring the other arm down so you are in a forearm plank.
      Push back up to start, placing each hand where your elbows were.
      Continue, alternating the lead arm with each rep.
    </p>
  </ion-card-content>
</ion-card>  <ion-card>
  <img src="../../assets/warriorbalance.PNG"/>
  <ion-card-content>
    <ion-card-title>
      Warrior Balance
    </ion-card-title>
    <p>
      Stand on your left foot and lift your right knee to hip height in front of your body.
      Reach your torso forward as you extend your right leg behind you. Keep your standing leg slightly bent as your torso becomes parallel to the floor. Extend your arms to help with balance.
      Pause for a second, then reverse the movement. Don't forget to do both sides!
    </p>
  </ion-card-content>
</ion-card>  <ion-card>
  <img src="../../assets/mountainclimber.PNG"/>
  <ion-card-content>
    <ion-card-title>
      Mountain Climber
    </ion-card-title>
    <p>
      Start in a high plank. Draw your right knee under your torso, keeping toes off the ground.
      Return to start.
      Switch sides and repeat. Continue as if you're running in place.
    </p>
  </ion-card-content>
</ion-card>



</ion-content>
