<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button (click)="vibrate()"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home Workout Trainer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page" padding>

  <ion-card (click)="showChestWorkout()">
    <img src="../assets/chest.png"/>

  </ion-card>

  <ion-card (click)="showAbsWorkout()">
    <img src="../assets/abs.png"/>

  </ion-card>

  <ion-card (click)="showLegsWorkout()">
    <img src="../assets/legs.png"/>

  </ion-card>

</ion-content>
